<li>
  <div class="timeline-image">
    <h4>Feb 2013 <br>
      - <br>
      Present </h4>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4>Creative Agency</h4>
        <h4 class="subheading">UX Developer</h4>
      </div>
      <div class="timeline-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
      </div>
    </div>
  </li>